/* Remove default list styles for navigation */
nav ol,
nav ul {
  list-style: none;  /* Remove list-style for ordered and unordered lists within nav element */
  padding: 0;       /* Remove padding for ordered and unordered lists within nav element */
}

/* Remove default list styles for unordered lists */
ul {
  list-style: none;  /* Remove list-style for unordered lists */
}

/* Remove quotation marks for blockquote and q elements */
blockquote,
q {
  quotes: none;  /* Remove quotation marks */

  /* Remove pseudo-elements content for blockquote and q elements */
  &:before,
  &:after{
    content: "";  /* Remove content from pseudo-elements */
    content: none;  /* Remove content from pseudo-elements */
  }
}