/* Set basic styles for the page */

html,
body {
  margin: 0;                                               /* Remove default margin */
  padding: 0;                                              /* Remove default padding */
  font-size: 16px;                                         /* Set default font size */
}

/* Set additional styles for the body */

body {
  font-family: "Poppins", Arial, sans-serif;               /* Set the font family for the body */
  background-color: #2C3240;                               /* Set the background color */
  height: auto;                                           /* Set the height of the body to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../../images/bg-overlay.jpg);
  background-position: left top;
/*  background-repeat: no-repeat;*/
  background-size: cover;
  padding: 13px;

  & .container {
    max-width: 600px;
    min-width: 200px;
    margin: 15px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
  }

  /*&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15 25 46 / 70%);
  }*/
}

main {
  background-color: var(--main-bg-color);                    /* Set the background color using a CSS variable */  
  min-height: 430px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../images/chat-bg.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  @util border-bottom-radius(var(--border-rad-lg));
  padding-top: 25px;

   &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(241 244 249 / 80%);
    @util border-bottom-radius(var(--border-rad-lg));
  }
}
