/* Set basic styles for the page */

html,
body {
  margin: 0;                                               /* Remove default margin */
  padding: 0;                                              /* Remove default padding */
  font-size: 16px;                                         /* Set default font size */
}

/* Set additional styles for the body */

body {
  font-family: "Poppins", Arial, sans-serif;               /* Set the font family for the body */
  background-color: #2C3240;                               /* Set the background color */
  height: 100vh;                                           /* Set the height of the body to 100% of the viewport height */
  display: flex;                                           /* Display the body as a flex container */
  flex-direction: column;                                  /* Arrange items vertically within the body */
  position: relative;                                      /* Set the position to relative */
  padding: 15px;
  max-width: 650px;
/*  justify-content: center;*/
  margin: 15px auto;
}

main {
    background-color: var(--white);                    /* Set the background color using a CSS variable */  
}
