footer {
  padding: 0.8em;                         /* Add padding to the footer */
  font-size: 0.7em;                       /* Set the font size for the footer */
  text-align: center;                     /* Center align the text in the footer */
  @util border-bottom-radius(var(--border-rad-lg));       /* Apply border-bottom-radius using a mixin */
  padding: 15px;
  background-color: rgb(15 25 46 / 94%);
  z-index: 1;
  position: absolute;
  bottom: -1px;
  width: 100%;
  margin: 0;
  left: 0;
  border: 1px solid rgb(241 244 249 / 50%);
  border-top: none;

  &, & a {
    color: rgb(255 255 255 / 82%);
    text-decoration: none;
  }
}
